@(title: String, styles: Html = Html(""), scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>@title - Project Euler Challenges</title>
        @views.html.components.bootstrap_header()
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("./stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("./images/favicon.png")">
        <script src="@routes.Assets.versioned("./javascripts/hello.js")" type="text/javascript"></script>
        @styles
    </head>
    <body class="d-flex flex-column" style="min-height: 100vh">
        <header class="header border-bottom">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="/">Project Euler Challenges by Play</a>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://projecteuler.net/" target="_blank">Reference</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="mb-auto">
            <div class="container">
            @content
            </div>
        </main>
        <footer class="footer">
            <div class="container">
                <div class="text-muted">
                    2020 - ushibutatory
                    ( <a href="https://github.com/ushibutatory/pj-euler" target="_blank">GitHub</a> )
                </div>
            </div>
        </footer>
        @views.html.components.bootstrap_footer()
        @scripts
    </body>
</html>
